* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Lato", sans-serif;
  background: linear-gradient(#e66465, #9198e5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.music-container {
  background-color: white;
  border-radius: 15px;
  height: 90px;
  width: 450px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 20px 20px;
  position: relative;
  margin: 100px 0 200px 0;
  justify-content: space-around;
}

.music-info {
  position: absolute;
  align-items: center;
  transform: translateY(0%);
  transition: transform 0.3s ease-in-out, z-index 0.8s;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  padding: 10px 0;
  width: calc(100% - 30px);
  padding: 10px 10px 10px 150px;
  font-size: 15px;
  opacity: 0;
  z-index: -1;
}

h4 {
  margin: 0;
  padding: 3px 0;
}

.music-container.play .music-info {
  transform: translateY(-120%);
  opacity: 1;
  z-index: 0;
}

.img-container {
  width: 110px;
  position: relative;
}

.img-container img {
  width: inherit;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  position: absolute;
  transform: translateY(-50%);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #3c3c3c;
  padding: 10px;
  margin: 0 20px;
}

.btn-big {
  font-size: 30px;
  color: #282828;
}

.progress-container {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 5px 0;
  height: 4px;
  width: 100%;
  cursor: pointer;
}

.progress {
  background-color: black;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.music-list {
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translateY(70%);
  width: 350px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 0 0 15px 15px;
}

.list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
}

.list li {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: italic;
  position: relative;
}

.list a {
  cursor: pointer;
  text-decoration: none;
  color: #333333;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFJQTtFQUNJLHNCQUFzQjtBQ0gxQjs7QURLQTtFQUNJLFNBQVE7RUFDUixhQUFZO0VBQ1osK0JBVHdCO0VBVXhCLDZDQUE2QztFQUM3QyxhQUFZO0VBQ1osdUJBQXNCO0VBQ3RCLG1CQUFtQjtFQUNuQixzQkFBc0I7QUNGMUI7O0FESUE7RUFDSSx1QkFBdUI7RUFDdkIsbUJBQW1CO0VBQ25CLFlBQVc7RUFDWCxZQUFXO0VBQ1gsMENBQXNDO0VBQ3RDLGFBQVk7RUFDWixrQkFBaUI7RUFDakIsa0JBQWlCO0VBQ2pCLHVCQUFzQjtFQUN0Qiw2QkFBNkI7QUNEakM7O0FER0E7RUFDSSxrQkFBaUI7RUFDakIsbUJBQW1CO0VBQ25CLHlCQUF5QjtFQUN6QixvREFBb0Q7RUFDcEQsMENBQXVDO0VBQ3ZDLDRCQUEyQjtFQUMzQixlQUFjO0VBQ2Qsd0JBQXVCO0VBQ3ZCLDZCQUE2QjtFQUM3QixlQUFjO0VBQ2QsVUFBUztFQUNULFdBQVU7QUNBZDs7QURHQTtFQUNJLFNBQVE7RUFDUixjQUFhO0FDQWpCOztBREVBO0VBQ0ksNEJBQTRCO0VBQzVCLFVBQVM7RUFDVCxVQUFTO0FDQ2I7O0FERUE7RUFDSSxZQUFXO0VBQ1gsa0JBQWlCO0FDQ3JCOztBRENBO0VBQ0ksY0FBYTtFQUNiLGFBQVk7RUFDWixvQkFBaUI7S0FBakIsaUJBQWlCO0VBQ2pCLGtCQUFrQjtFQUNsQixrQkFBaUI7RUFDakIsMkJBQTJCO0FDRS9COztBREFBO0VBQ0ksYUFBWTtFQUNaLHVCQUF1QjtFQUN2QixtQkFBbUI7QUNHdkI7O0FEREE7RUFDSSw2QkFBNEI7RUFDNUIsWUFBVztFQUNYLGVBQWM7RUFDZCxlQUFjO0VBQ2QsY0FBbUI7RUFDbkIsYUFBWTtFQUNaLGNBQWM7QUNJbEI7O0FERkE7RUFDSSxlQUFjO0VBQ2QsY0FBbUI7QUNLdkI7O0FESEE7RUFDSSwwQ0FBdUM7RUFDdkMsYUFBWTtFQUNaLFdBQVU7RUFDVixXQUFVO0VBQ1YsZUFBYztBQ01sQjs7QURKQTtFQUNJLHVCQUFzQjtFQUN0QixZQUFXO0VBQ1gsU0FBUTtFQUNSLDZCQUE0QjtBQ09oQzs7QURMQTtFQUNJLGFBQVk7RUFDWix1QkFBdUI7RUFDdkIsa0JBQWlCO0VBQ2pCLDBCQUF5QjtFQUN6QixZQUFXO0VBQ1gsMkJBQWtCO0VBQWxCLHdCQUFrQjtFQUFsQixtQkFBa0I7RUFDbEIsdUJBQW9DO0VBQ3BDLDRCQUE0QjtBQ1FoQzs7QURMQTtFQUNJLFVBQVM7RUFDVCxTQUFRO0VBQ1IsV0FBVTtFQUNWLGdCQUFnQjtBQ1FwQjs7QURMQTtFQUNJLGNBQWE7RUFDYixhQUFhO0VBQ2IsV0FBVTtFQUNWLGtCQUFrQjtFQUNsQiwrQkF2SHdCO0VBd0h4QixrQkFBaUI7RUFDakIsa0JBQWlCO0FDUXJCOztBRE5BO0VBQ0ksZUFBYztFQUNkLHFCQUFxQjtFQUNyQixjQUFhO0FDU2pCIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */