* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Lato", sans-serif;
  background: linear-gradient(#e66465, #9198e5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.music-container {
  background-color: white;
  border-radius: 15px;
  height: 90px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 20px 20px;
  position: relative;
  margin: 100px 0;
  justify-content: space-around;
}

.music-info {
  position: absolute;
  align-items: center;
  transform: translateY(0%);
  transition: transform 0.3s, ease-in;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  padding: 10px 0;
  width: calc(100% - 30px);
  padding: 10px 10px 10px 150px;
  font-size: 15px;
  opacity: 0;
  z-index: -1;
}

h4 {
  margin: 0;
  padding: 3px 0;
}

.music-container.play .music-info {
  transform: translateY(-120%);
  opacity: 1;
  z-index: 0;
}

.img-container {
  width: 110px;
  position: relative;
}

.img-container img {
  width: inherit;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  position: absolute;
  transform: translateY(-50%);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #3c3c3c;
  padding: 10px;
  margin: 0 20px;
}

.btn-big {
  font-size: 30px;
  color: #282828;
}

.progress-container {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 5px 0;
  height: 4px;
  width: 100%;
  cursor: pointer;
}

.progress {
  background-color: black;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFJQTtFQUNJLHNCQUFzQjtBQ0gxQjs7QURLQTtFQUNJLFNBQVE7RUFDUixhQUFZO0VBQ1osK0JBVHdCO0VBVXhCLDZDQUE2QztFQUM3QyxhQUFZO0VBQ1osdUJBQXNCO0VBQ3RCLG1CQUFtQjtFQUNuQixzQkFBc0I7QUNGMUI7O0FESUE7RUFDSSx1QkFBdUI7RUFDdkIsbUJBQW1CO0VBQ25CLFlBQVc7RUFDWCwwQ0FBc0M7RUFDdEMsYUFBWTtFQUNaLGtCQUFpQjtFQUNqQixrQkFBaUI7RUFDakIsZUFBZTtFQUNmLDZCQUE2QjtBQ0RqQzs7QURHQTtFQUNJLGtCQUFpQjtFQUNqQixtQkFBbUI7RUFDbkIseUJBQXlCO0VBQ3pCLG1DQUFtQztFQUNuQywwQ0FBdUM7RUFDdkMsNEJBQTJCO0VBQzNCLGVBQWM7RUFDZCx3QkFBdUI7RUFDdkIsNkJBQTZCO0VBQzdCLGVBQWM7RUFDZCxVQUFTO0VBQ1QsV0FBVTtBQ0FkOztBREdBO0VBQ0ksU0FBUTtFQUNSLGNBQWE7QUNBakI7O0FERUE7RUFDSSw0QkFBNEI7RUFDNUIsVUFBUztFQUNULFVBQVM7QUNDYjs7QURDQTtFQUNJLFlBQVc7RUFDWCxrQkFBaUI7QUNFckI7O0FEQUE7RUFDSSxjQUFhO0VBQ2IsYUFBWTtFQUNaLG9CQUFpQjtLQUFqQixpQkFBaUI7RUFDakIsa0JBQWtCO0VBQ2xCLGtCQUFpQjtFQUNqQiwyQkFBMkI7QUNHL0I7O0FEREE7RUFDSSxhQUFZO0VBQ1osdUJBQXVCO0VBQ3ZCLG1CQUFtQjtBQ0l2Qjs7QURGQTtFQUNJLDZCQUE0QjtFQUM1QixZQUFXO0VBQ1gsZUFBYztFQUNkLGVBQWM7RUFDZCxjQUFtQjtFQUNuQixhQUFZO0VBQ1osY0FBYztBQ0tsQjs7QURIQTtFQUNJLGVBQWM7RUFDZCxjQUFtQjtBQ012Qjs7QURKQTtFQUNJLDBDQUF1QztFQUN2QyxhQUFZO0VBQ1osV0FBVTtFQUNWLFdBQVU7RUFDVixlQUFjO0FDT2xCOztBRExBO0VBQ0ksdUJBQXNCO0VBQ3RCLFlBQVc7RUFDWCxTQUFRO0VBQ1IsNkJBQTRCO0FDUWhDIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */