//variables
$font-one:'Lato', sans-serif;

//styling
*{
    box-sizing: border-box;
}
body{
    margin:0;
    height:100vh;
    font-family: $font-one;
    background: linear-gradient(#e66465, #9198e5);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.music-container{
    background-color: white;
    border-radius: 15px;
    height:90px;
    width:450px;
    box-shadow:0 10px 10px rgba(0,0,0,0.5);
    display:flex;
    padding:20px 20px;
    position:relative;
    margin: 100px 0;
    justify-content: space-around;
}
.music-info{
    position:absolute;
    align-items: center;
    transform: translateY(0%);
    transition: transform 0.3s, ease-in;
    background-color: rgba(255,255,255,0.5);
    border-radius:15px 15px 0 0;
    padding:10px 0;
    width:calc(100% - 30px);
    padding: 10px 10px 10px 150px;
    font-size:15px;
    opacity:0;
    z-index:-1;
    
}
h4{
    margin:0;
    padding:3px 0;
}
.music-container.play .music-info{
    transform: translateY(-120%);
    opacity:1;
    z-index:0;
}
.img-container{
    width:110px;
    position:relative;
}
.img-container img{
    width:inherit;
    height:110px;
    object-fit: cover;
    border-radius: 5px;
    position:absolute;
    transform: translateY(-50%);
}
.navigation{
    display:flex;
    justify-content: center;
    align-items: center;
}
.action-btn{
    background-color:transparent;
    border:none;
    font-size:20px;
    cursor:pointer;
    color:rgb(60,60,60);
    padding:10px;
    margin: 0 20px;
}
.btn-big{
    font-size:30px;
    color:rgb(40,40,40);
}
.progress-container{
    background-color: rgba(255,255,255,0.2);
    margin:5px 0;
    height:4px;
    width:100%;
    cursor:pointer;
}
.progress{
    background-color:black;
    height:100%;
    width:0%;
    transition:width 0.1s linear;
}